<div class="@ClassName" id="about-card">
    <div class="card-wrap">

        <!--
            About
        -->
        <div class="content about">

            <!-- title -->
            <div class="title">About Me</div>

            <!-- content -->
            <div class="row">
                <div class="col col-d-12 col-t-12 col-m-12 border-line-v">
                    <div class="text-box">
                        <p>
                            I am Yuda Fatah, Software Developer from Indonesia. I have rich experience
                            working in IT Development as a professional. I have been working in many roles
                            of IT development such as a full stack developer, backend developer, database developer,
                            frontend developer, web security and sysadmin. I have experience working in department
                            which is requires me to do multiple roles of IT development. As a freelancer and employee
                            I have been working on microservices and monolithic architecture as team and individual.
                            My latest programming language I used are C# with .Net Core / .Net 5 and Java with Spring Boot framework.
                            I would be happy if someone later offers me to work on new technology. In my professional journey
                            I really like to do research and development of new technologies.
                        </p>
                    </div>
                    <div class="info-list">
                        <ul>
                            <li><strong>Age : </strong> 25</li>
                            <li><strong>Residence : </strong> Indonesia</li>
                            <li><strong>Freelance : </strong> Available</li>
                            <li><strong>Address : </strong> Yogyakarta, Indonesia</li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

        </div>

        <!--
            Services
        -->
        <div class="content services">

            <!-- title -->
            <div class="title">My Services</div>

            <!-- content -->
            <div class="row service-items border-line-v">

                <!-- service item -->
                <div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                    <div class="service-item">
                        <div class="icon"><span class="ion ion-code"></span></div>
                        <div class="name">Web Development</div>
                        <p>
                            Developing Scalable web application with new and best partice technologies and security.
                        </p>
                    </div>
                </div>

                <!-- service item -->
                @*<div class="col col-d-6 col-t-6 col-m-12 border-line-h">
                        <div class="service-item">
                            <div class="icon"><span class="ion ion-music-note"></span></div>
                            <div class="name">Music Writing</div>
                            <p>
                                Music copying, transcription, arranging and composition services.
                            </p>
                        </div>
                    </div>*@

                <!-- service item -->
                <div class="col col-d-6 col-t-6 col-m-12">
                    <div class="service-item">
                        <div class="icon"><span class="ion ion-logo-android"></span></div>
                        <div class="name">Android Development</div>
                        <p>
                            Developing speedy native apps.
                        </p>
                    </div>
                </div>

                <!-- service item -->
                <div class="col col-d-6 col-t-6 col-m-12">
                    <div class="service-item">
                        <div class="icon"><span class="ion ion-ios-game-controller-b"></span></div>
                        <div class="name">Game Development</div>
                        <p>
                            Developing memorable and unique cross-platform games.
                        </p>
                    </div>
                </div>

                <div class="clear"></div>
            </div>

        </div>



        <!--
            Price Tables
        -->
        <!--<div class="content pricing">

            <!-- title -->
            <!--<div class="title">Pricing</div>-->

            <!-- content -->
            <!--<div class="row pricing-items">-->

                <!-- pricing item -->-->
                <!--@*<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                    <div class="pricing-item">
                        <div class="icon"><i class="ion ion-speedometer speed-basic"></i></div>
                        <div class="name">Basic</div>
                        <div class="amount">
                            <span class="dollar">$</span>
                            <span class="number">22</span>
                            <span class="period">hour</span>
                        </div>
                        <div class="feature-list">
                            <ul>
                                <li>Web Development</li>
                                <li>Advetising</li>
                                <li>Game Development</li>
                                <li class="disable">Music Writing</li>
                                <li class="disable">Photography <strong>new</strong></li>
                            </ul>
                        </div>
                        <div class="lnks">
                            <a href="#" class="lnk">
                                <span class="text">Buy Basic</span>
                                <i class="ion ion-speedometer speed-basic"></i>
                            </a>
                        </div>
                    </div>
                </div>*@-->

                <!--<!-- pricing item -->-->
                <!--@*<div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                    <div class="pricing-item">
                        <div class="icon"><i class="ion ion-speedometer"></i></div>
                        <div class="name">Pro</div>
                        <div class="amount">
                            <span class="dollar">$</span>
                            <span class="number">48</span>
                            <span class="period">hour</span>
                        </div>
                        <div class="feature-list">
                            <ul>
                                <li>Web Development</li>
                                <li>Advetising</li>
                                <li>Game Development</li>
                                <li>Music Writing</li>
                                <li>Photography <strong>new</strong></li>
                            </ul>
                        </div>
                        <div class="lnks">
                            <a href="#" class="lnk">
                                <span class="text">Buy Pro</span>
                                <i class="ion ion-speedometer"></i>
                            </a>
                        </div>
                    </div>
                </div>*@

                <div class="clear"></div>
            </div>

        </div>-->

        <!--
            Fun Fact
        -->
        <!--<div class="content fuct">

            <!-- title -->
            <!--<div class="title">Fun Fact</div>-->

            <!-- content -->
            <!--<div class="row fuct-items">-->

                <!-- fuct item -->
                <!--<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                    <div class="fuct-item">
                        <div class="icon"><span class="ion ion-disc"></span></div>
                        <div class="name">80 Albumes Listened</div>
                    </div>
                </div>-->

                <!-- fuct item -->
                <!--<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                    <div class="fuct-item">
                        <div class="icon"><span class="ion ion-trophy"></span></div>
                        <div class="name">15 Awards Won</div>
                    </div>
                </div>-->

                <!-- fuct item -->
                <!--<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                    <div class="fuct-item">
                        <div class="icon"><span class="ion ion-coffee"></span></div>
                        <div class="name">1 000 Cups of coffee</div>
                    </div>
                </div>-->

                <!-- fuct item -->-->
                <!--@*<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                    <div class="fuct-item">
                        <div class="icon"><span class="ion ion-flag"></span></div>
                        <div class="name">10 Countries Visited</div>
                    </div>
                </div>*@

                <div class="clear"></div>
            </div>

        </div>-->

        <!--
            Clients
        -->
        <!--<div class="content clients">-->

            <!-- title -->
            <!--<div class="title">Clients</div>-->

            <!-- content -->
            <!--<div class="row client-items">-->

                <!-- client item -->
                <!--<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                    <div class="client-item">
                        <div class="image">
                            <a target="_blank" href="https://www.google.com">
                                <img src="images/clients/client_1.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>-->

                <!-- client item -->
                <!--<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                    <div class="client-item">
                        <div class="image">
                            <a target="_blank" href="https://www.google.com">
                                <img src="images/clients/client_2.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>-->

                <!-- client item -->
                <!--<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                    <div class="client-item">
                        <div class="image">
                            <a target="_blank" href="https://www.google.com">
                                <img src="images/clients/client_3.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>-->

                <!-- client item -->
                <!--<div class="col col-d-3 col-t-3 col-m-6 border-line-v">
                    <div class="client-item">
                        <div class="image">
                            <a target="_blank" href="https://www.google.com">
                                <img src="images/clients/client_4.png" alt="" />
                            </a>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>

        </div>-->

        <!--
            Testimonials
        -->
        <!--<div class="content testimonials">-->

            <!-- title -->
            <!--<div class="title">Testimonials</div>-->

            <!-- content -->
            <!--<div class="row testimonials-items">-->

                <!-- client item -->
                <!--<div class="col col-d-12 col-t-12 col-m-12 border-line-v">
                    <div class="revs-carousel default-revs">
                        <div class="owl-carousel">
                            <div class="item">
                                <div class="revs-item">
                                    <div class="text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </div>
                                    <div class="user">
                                        <div class="img"><img src="images/man1.jpg" alt="" /></div>
                                        <div class="info">
                                            <div class="name">Helen Floyd</div>
                                            <div class="company">Art Director</div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="revs-item">
                                    <div class="text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </div>
                                    <div class="user">
                                        <div class="img"><img src="images/man1.jpg" alt="" /></div>
                                        <div class="info">
                                            <div class="name">Robert Chase</div>
                                            <div class="company">CEO</div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="revs-item">
                                    <div class="text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </div>
                                    <div class="user">
                                        <div class="img"><img src="images/man1.jpg" alt="" /></div>
                                        <div class="info">
                                            <div class="name">Helen Floyd</div>
                                            <div class="company">Art Director</div>
                                        </div>
                                        <div class="clear"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>

        </div>-->

    </div>
</div>

@code{
    [Parameter]
    public string ClassName { get; set; }
}