<div class="profile no-photo">

    <!-- profile image -->
    <div class="slide" style="background-image: url(images/profil1.jpg);"></div>

    <!-- profile photo -->
    @*<div class="image">
        <img src="images/profile.png" alt="" />
    </div>*@

    <!-- profile titles -->
    <div class="title">Yuda Fatah Kurniawan</div>
    <div class="subtitle">Software Developer</div>

    <!-- profile socials -->
    <div class="social">
        <a target="_blank" aria-label="Instagram" rel="noreferrer" href="https://www.instagram.com/yudafatah/"><span class="fab fa-instagram"></span></a>
        <a target="_blank" aria-label="Github" rel="noreferrer" href="https://github.com/yudafatah/"><span class="fab fa-github"></span></a>
        <a target="_blank" aria-label="LinkedIn" rel="noreferrer" href="https://www.linkedin.com/in/yuda-fatah-kurniawan-9b220261/"><span class="fab fa-linkedin"></span></a>
    </div>

    <!-- profile buttons -->
    <div class="lnks">
        <a href="sample-data" download="Yuda Fatah Short CV Feb 2021.pdf" target="_top" class="lnk">
            <span class="text">Download CV</span>
            <span class="ion ion-archive"></span>
        </a>
        @*<a href="#" class="lnk discover">
            <span class="text">Contact Me</span>
            <span class="arrow"></span>
        </a>*@
    </div>

</div>