<div class="@ClassName" id="resume-card">
    <div class="card-wrap">

        <!--
            Resume
        -->
        <div class="content resume">

            <!-- title -->
            <div class="title">Resume</div>

            <!-- content -->
            <div class="row">

                <!-- experience -->
                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                    <div class="resume-title border-line-h">
                        <div class="icon"><i class="ion ion-briefcase"></i></div>
                        <div class="name">Experience</div>
                    </div>
                    <div class="resume-items">
                        <div class="resume-item border-line-h active">
                            <div class="date">2019 - Present</div>
                            <div class="name">Software Developer</div>
                            @*<div class="company"></div>*@
                            <p>
                                • Modifying software to fix error, adapt it to
                                new technology or hardware, improve its
                                performance, or upgrade interface.<br />
                                • Working with customers or department on
                                technical issues including software system
                                design and maintenance.<br />
                                • Produce clean, efficient code based on
                                specifications. <br />
                                • Integrate software components and thirdparty programs.<br />
                                • Troubleshoot, debug, and upgrade existing
                                software.<br />
                                • Provide security system based on user
                                spesifications.<br />
                            </p>
                        </div>
                        <div class="resume-item border-line-h">
                            <div class="date">Nov 2018 - Nov 2020</div>
                            <div class="name">Full Stack Developer</div>
                            <div class="company">PT. Bank Negara Indonesia (Persero) Tbk</div>
                            <p>
                                Worked as outsource to support BNI business process with web based technology.<br /><br />

                                Responsibilities:<br />
                                • Build web / services to support business process (Automation).<br />
                                • Analyze requirements with users.<br />
                                • Debuging / fixing error.<br />
                                • Configure server and other environments to promote and maintain applications.
                            </p>
                        </div>
                        <div class="resume-item">
                            <div class="date">Nov 2018 - Nov 2020</div>
                            <div class="name">Application Developer</div>
                            <div class="company">PT. Mitra Integrasi Informatika</div>
                            <p>
                                followed Java Development Best Practice bootcamp program for 3 months
                                and placed to company client site (PT. Bank Negara Indonesia) as programmer.
                            </p>
                        </div>
                        <div class="resume-item">
                            <div class="date">Jul 2017 - Aug 2017</div>
                            <div class="name">Android Developer Internship</div>
                            <div class="company">Indonesian Ministry of Agrarian Affairs and Spatial Planning / National Land Agency</div>
                            <p>
                                Developed maps application which include Indonesian country web map services and feature services to 
                                show plot of lands and land informations of Indonesia country.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- education -->
                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                    <div class="resume-title border-line-h">
                        <div class="icon"><i class="ion ion-university"></i></div>
                        <div class="name">Education</div>
                    </div>
                    <div class="resume-items">
                        <div class="resume-item border-line-h active">
                            <div class="date">2019 - Present</div>
                            <div class="name">Binus University</div>
                            <div class="company">Jakarta, Indonesia</div>
                            <p>
                                Master's Degree in Management Information System
                            </p>
                        </div>
                        <div class="resume-item border-line-h">
                            <div class="date">2014 - 2018</div>
                            <div class="name">Muhammadiyah University of Yogyakarta</div>
                            <div class="company">Yogyakarta, Indonesia</div>
                            <p>
                                Bachelor's Degree in Informatic Engineering
                                GPA 3.66 of 4.00
                            </p>
                        </div>
                        <div class="resume-item">
                            <div class="date">2014 - 2017</div>
                            <div class="name">National Institute of Information Technology</div>
                            <div class="company">Yogyakarta, Indonesia</div>
                            <p>
                                Associate's Degree in Information Technology
                            </p>
                        </div>
                        <div class="resume-item">
                            <div class="date">2014 - 2017</div>
                            <div class="name">National Institute of Information Technology</div>
                            <div class="company">Yogyakarta, Indonesia</div>
                            <p>
                                Associate's Degree in English
                            </p>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>

        </div>

        <!--
            Skills
        -->
        <div class="content skills">

            <!-- title -->
            <div class="title">My Skills</div>

            <!-- content -->
            <div class="row">

                <!-- skill item -->
                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                    <div class="skills-list">
                        <div class="skill-title border-line-h">
                            <div class="icon"><i class="ion ion-easel"></i></div>
                            <div class="name">Programming Language</div>
                        </div>
                        <ul>
                            <li class="border-line-h">
                                <div class="name">C#</div>
                                <div class="progress">
                                    <div class="percentage" style="width:90%;"></div>
                                </div>
                            </li>
                            <li class="border-line-h">
                                <div class="name">Java</div>
                                <div class="progress">
                                    <div class="percentage" style="width:80%;"></div>
                                </div>
                            </li>
                            <li class="border-line-h">
                                <div class="name">Golang</div>
                                <div class="progress">
                                    <div class="percentage" style="width:60%;"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- skill item -->
                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                    <div class="skills-list dotted">
                        <div class="skill-title border-line-h">
                            <div class="icon"><i class="ion ion-flag"></i></div>
                            <div class="name">Technologies</div>
                        </div>
                        <ul>
                            <li class="border-line-h">
                                <div class="name">Net Core / Net 5</div>
                                <div class="progress">
                                    <div class="percentage" style="width:90%;"></div>
                                </div>
                            </li>
                            <li class="border-line-h">
                                <div class="name">Springboot</div>
                                <div class="progress">
                                    <div class="percentage" style="width:80%;"></div>
                                </div>
                            </li>
                            <li class="border-line-h">
                                <div class="name">Microservices</div>
                                <div class="progress">
                                    <div class="percentage" style="width:90%;"></div>
                                </div>
                            </li>
                            <li>
                                <div class="name">Git</div>
                                <div class="progress ">
                                    <div class="percentage" style="width:80%;"></div>
                                </div>
                            </li>
                            <li>
                                <div class="name">Web Security</div>
                                <div class="progress ">
                                    <div class="percentage" style="width:80%;"></div>
                                </div>
                            </li>
                            <li>
                                <div class="name">SQL Server</div>
                                <div class="progress ">
                                    <div class="percentage" style="width:90%;"></div>
                                </div>
                            </li>
                            <li>
                                <div class="name">PgSql</div>
                                <div class="progress ">
                                    <div class="percentage" style="width:70%;"></div>
                                </div>
                            </li>
                            <li>
                                <div class="name">Oracle</div>
                                <div class="progress ">
                                    <div class="percentage" style="width:75%;"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- skill item -->
                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                    <div class="skills-list circles">
                        <div class="skill-title border-line-h">
                            <div class="icon"><i class="ion ion-code"></i></div>
                            <div class="name">Frontend Language and Framework</div>
                        </div>
                        <ul>
                            <li>
                                <div class="name">Html</div>
                                <div class="progress p90">
                                    <span>90%</span>
                                </div>
                            </li>
                            <li>
                                <div class="name">JavaScript</div>
                                <div class="progress p80">
                                    <span>80%</span>
                                </div>
                            </li>
                            <li>
                                <div class="name">CSS</div>
                                <div class="progress p70">
                                    <span>70%</span>
                                </div>
                            </li>
                            <li>
                                <div class="name">Blazor</div>
                                <div class="progress p75">
                                    <span>75%</span>
                                </div>
                            </li>
                            <li>
                                <div class="name">React</div>
                                <div class="progress p70">
                                    <span>70%</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- skill item -->
                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                    <div class="skills-list list">
                        <div class="skill-title border-line-h">
                            <div class="icon"><i class="ion ion-android-list"></i></div>
                            <div class="name">Knowledge</div>
                        </div>
                        <ul>
                            <li>
                                <div class="name">Website hosting</div>
                            </li>
                            <li>
                                <div class="name">Android apps</div>
                            </li>
                            <li>
                                <div class="name">Server Configuration</div>
                            </li>
                            <li>
                                <div class="name">Project Management</div>
                            </li>
                            <li>
                                <div class="name">System Analysis</div>
                            </li>
                            <li>
                                <div class="name">Software Architecture</div>
                            </li>
                            <li>
                                <div class="name">Risk Management</div>
                            </li>
                            <li>
                                <div class="name">Gamification</div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="clear"></div>
            </div>

        </div>

    </div>
</div>

@code{
    [Parameter]
    public string ClassName { get; set; }
}