<div class="@ClassName" id="resume-card">
    <div class="card-wrap">

        <!--
            Resume
        -->
        <div class="content resume">

            <!-- title -->
            <div class="title">Resume</div>

            <!-- content -->
            <div class="row">

                <!-- experience -->
                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                    <div class="resume-title border-line-h">
                        <div class="icon"><i class="ion ion-briefcase"></i></div>
                        <div class="name">Experience</div>
                    </div>
                    <div class="resume-items">
                        <div class="resume-item border-line-h active">
                            <div class="date">2013 - Present</div>
                            <div class="name">Art Director</div>
                            <div class="company">Facebook Inc.</div>
                            <p>
                                Collaborate with creative and development teams on the execution of ideas.
                            </p>
                        </div>
                        <div class="resume-item border-line-h">
                            <div class="date">2011 - 2012</div>
                            <div class="name">Front-end Developer</div>
                            <div class="company">Google Inc.</div>
                            <p>
                                Monitored technical aspects of the front-end delivery for several projects.
                            </p>
                        </div>
                        <div class="resume-item">
                            <div class="date">2009 - 2010</div>
                            <div class="name">Senior Developer</div>
                            <div class="company">Abc Inc.</div>
                            <p>
                                Optimize website performance using latest technology.
                            </p>
                        </div>
                    </div>
                </div>

                <!-- education -->
                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                    <div class="resume-title border-line-h">
                        <div class="icon"><i class="ion ion-university"></i></div>
                        <div class="name">Education</div>
                    </div>
                    <div class="resume-items">
                        <div class="resume-item border-line-h">
                            <div class="date">2006 - 2008</div>
                            <div class="name">Art University</div>
                            <div class="company">New York</div>
                            <p>
                                Bachelor's Degree in Computer Science ABC Technical Institute, Jefferson, Missouri
                            </p>
                        </div>
                        <div class="resume-item border-line-h">
                            <div class="date">2005 - 2006</div>
                            <div class="name">Programming Course</div>
                            <div class="company">Paris</div>
                            <p>
                                Coursework - Git, WordPress, Javascript, iOS, Android.
                            </p>
                        </div>
                        <div class="resume-item">
                            <div class="date">2004 - 2005</div>
                            <div class="name">Web Design Course</div>
                            <div class="company">London</div>
                            <p>
                                Converted Photoshop layouts to web pages using HTML, CSS, and JavaScript
                            </p>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>

        </div>

        <!--
            Skills
        -->
        <div class="content skills">

            <!-- title -->
            <div class="title">My Skills</div>

            <!-- content -->
            <div class="row">

                <!-- skill item -->
                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                    <div class="skills-list">
                        <div class="skill-title border-line-h">
                            <div class="icon"><i class="ion ion-easel"></i></div>
                            <div class="name">Design</div>
                        </div>
                        <ul>
                            <li class="border-line-h">
                                <div class="name">Web Design</div>
                                <div class="progress">
                                    <div class="percentage" style="width:90%;"></div>
                                </div>
                            </li>
                            <li class="border-line-h">
                                <div class="name">Write Music</div>
                                <div class="progress">
                                    <div class="percentage" style="width:65%;"></div>
                                </div>
                            </li>
                            <li class="border-line-h">
                                <div class="name">Photoshop</div>
                                <div class="progress">
                                    <div class="percentage" style="width:75%;"></div>
                                </div>
                            </li>
                            <li>
                                <div class="name">Graphic Design</div>
                                <div class="progress">
                                    <div class="percentage" style="width:85%;"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- skill item -->
                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                    <div class="skills-list dotted">
                        <div class="skill-title border-line-h">
                            <div class="icon"><i class="ion ion-flag"></i></div>
                            <div class="name">Languages</div>
                        </div>
                        <ul>
                            <li class="border-line-h">
                                <div class="name">English</div>
                                <div class="progress">
                                    <div class="percentage" style="width:90%;"></div>
                                </div>
                            </li>
                            <li class="border-line-h">
                                <div class="name">German</div>
                                <div class="progress">
                                    <div class="percentage" style="width:60%;"></div>
                                </div>
                            </li>
                            <li class="border-line-h">
                                <div class="name">Italian</div>
                                <div class="progress">
                                    <div class="percentage" style="width:30%;"></div>
                                </div>
                            </li>
                            <li>
                                <div class="name">French</div>
                                <div class="progress ">
                                    <div class="percentage" style="width:70%;"></div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- skill item -->
                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                    <div class="skills-list circles">
                        <div class="skill-title border-line-h">
                            <div class="icon"><i class="ion ion-code"></i></div>
                            <div class="name">Coding</div>
                        </div>
                        <ul>
                            <li>
                                <div class="name">WordPress</div>
                                <div class="progress p90">
                                    <span>90%</span>
                                </div>
                            </li>
                            <li>
                                <div class="name">PHP / MYSQL</div>
                                <div class="progress p75">
                                    <span>75%</span>
                                </div>
                            </li>
                            <li>
                                <div class="name">Angular / JavaScript</div>
                                <div class="progress p85">
                                    <span>85%</span>
                                </div>
                            </li>
                            <li>
                                <div class="name">HTML / CSS</div>
                                <div class="progress p95">
                                    <span>95%</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- skill item -->
                <div class="col col-d-6 col-t-6 col-m-12 border-line-v">
                    <div class="skills-list list">
                        <div class="skill-title border-line-h">
                            <div class="icon"><i class="ion ion-android-list"></i></div>
                            <div class="name">Knowledge</div>
                        </div>
                        <ul>
                            <li>
                                <div class="name">Website hosting</div>
                            </li>
                            <li>
                                <div class="name">iOS and android apps</div>
                            </li>
                            <li>
                                <div class="name">Create logo design</div>
                            </li>
                            <li>
                                <div class="name">Design for print</div>
                            </li>
                            <li>
                                <div class="name">Modern and mobile-ready</div>
                            </li>
                            <li>
                                <div class="name">Advertising services include</div>
                            </li>
                            <li>
                                <div class="name">Graphics and animations</div>
                            </li>
                            <li>
                                <div class="name">Search engine marketing</div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="clear"></div>
            </div>

        </div>

    </div>
</div>

@code{
    [Parameter]
    public string ClassName { get; set; }
}