
<div class="@ClassName" id="works-card">
    <div class="card-wrap">

        
            @*Works*@
        
        <div class="content works">

             @*title*@ 
            <div class="title">Recent Works</div>

             @*filters*@ 
            <div class="filter-menu filter-button-group">
                <div class="f_btn active">
                    <label><input type="radio" name="fl_radio" value="grid-item" />All</label>
                </div>
                @*<div class="f_btn">
                    <label><input type="radio" name="fl_radio" value="photo" />Photo</label>
                </div>
                <div class="f_btn">
                    <label><input type="radio" name="fl_radio" value="video" />Video</label>
                </div>
                <div class="f_btn">
                    <label><input type="radio" name="fl_radio" value="music" />Music</label>
                </div>
                <div class="f_btn">
                    <label><input type="radio" name="fl_radio" value="design" />Design</label>
                </div>*@
            </div>

             @*content*@ 
            <div class="row grid-items border-line-v">

                 @*work item photo*@ 
                <div class="col col-d-6 col-t-6 col-m-12 grid-item photo border-line-h">
                    <div class="box-item">
                        <div class="image">
                            <a href="#" @onclick="ShowModalEWS" class="has-popup-image">
                                <img src="images/works/EWS.JPG" alt="" />
                                <span class="info">
                                    <span class="ion ion-image"></span>
                                </span>
                            </a>
                        </div>
                        <div class="desc">
                            <a href="#" @onclick="ShowModalEWS" class="name has-popup-media">Early Warning System</a>
                            <div class="category">Web App</div>
                        </div>
                    </div>
                </div>

                 @*work item design*@ 
                <div class="col col-d-6 col-t-6 col-m-12 grid-item design border-line-h">
                    <div class="box-item">
                        <div class="image">
                            <a href="#" @onclick="ShowModalDigisales" class="has-popup-media">
                                <img src="images/works/DIGISALESMB.JPG" alt="" />
                                <span class="info">
                                    <span class="ion ion-images"></span>
                                </span>
                            </a>
                        </div>
                        <div class="desc">
                            <a href="#" @onclick="ShowModalDigisales" class="name has-popup-media">Digisales</a>
                            <div class="category">Api Services</div>
                        </div>
                    </div>
                </div>

                <div class="clear"></div>
            </div>

        </div>

    </div>
</div>